doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Calculator
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT', crossorigin='anonymous')
  body
    .container.mx-auto.mt-5.col-6
      h1.text-center Calculator
      .container.m-5
        .row.m-5.align-items-start
          // <div class="col">
          h5.text-center.col-md-4 Result:
          .col-md-6
            input.form-control-lg(type='text', readonly='', name='result', value='0')
          // </div>
        .row.m-5.align-items-start
          .col
            form.row.g-3(name='calc')
              .col-md-6
                label.form-label(for='num1') First Number
                input.form-control(type='number', required='', name='num1')
              .col-md-6
                label.form-label(for='num2') Second Number
                input.form-control(type='number', required='', name='num2')
              .col-12
                label.form-label(for='sign') Sign
                select.form-select(name='sign', required='')
                  option(selected='') Choose an Operation
                  option(value='add') Add
                  option(value='subtract') Subtract
                  option(value='multiply') Multiply
                  option(value='divide') Divide
              .d-grid.gap-2.col-12.mx-auto
                button.btn.btn-primary(type='submit') Calculate
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js', integrity='sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8', crossorigin='anonymous')